<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
  
<suite name="ProjectClass26Assignments" parallel="tests" thread-count="2" verbose="1" > 
 <parameter name="env" value="dev"/>
  <test name="RegressionAutomationPractice2">
  <parameter name="browser" value="chrome"/>
  <parameter name="env" value ="dev"/>
    <groups>
       <run>
       <include name="regression"/>
       </run>
    </groups>
    <classes>       
       <class name="tests.ExpediaTest"/>
        <class name="tests.BaseTest"/>
    </classes>
  </test>
</suite>